* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    padding-top: 110px;
}

.container {
    margin: 0 auto;
    padding-top: 20px;
    max-width: 1200px;
}

.navbar {
    width: 100%;
    padding-bottom: 20px;
    position:fixed;
    top: 0;
    transition: top 0.3s;
    background-color: rgba(31, 33, 37, 0.96);
    z-index: 1000;
}

.home:target {
    scroll-margin-top: 110px;
}   

.navbar-brand img {
    max-width: 60%;
    height: auto;
}

/* HEADER */

.header-menu a {
    color: #FFFFFF;
}

.navbar-nav .nav-link, .navbar-nav-footer .nav-link {
    color: #FFFFFF;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}

.navbar-nav .nav-link:hover, .navbar-nav-footer .nav-link:hover {
    color: #33ff33 ;
    border-bottom: 2px solid #00b512;
}

.navbar-nav .nav-item {
    margin-left: 20px;
}

.btn {
    background-color: #33ff33 ;
    color: #FFFFFF;
    margin: 10px;
}

.btn:hover {
    background-color: #00b300;
    color: #FFFFFF;
}

/*SECTION HOME*/

.circle {
    transition: transform 0.6s ease;
}
.circle:hover {
    transform: scale(1.02);
    transition: transform 0.6s ease;
}

.circle img {
    width: 480px;
    height: auto;
}

.social-media-buttons .btn-social {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
    margin: 0 -100px;
    margin-right: 106px;
}

.social-media-buttons-footer .btn-social {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
    margin: 0 2px;
}

.btn-social:hover{
    border-radius: 100%;
    background: #FFFFFF;
    color: #33ff33 ;
}

.intro {
    text-align: left;
}

.intro-name, .clr {
    color: #33ff33 ;
}

.job-title {
    font-size: 80px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    max-width: 569px;
    text-align: left;

    .text-right {
        text-align: right;
    }
}

.description, .abtme-desc, .srvc-desc {
    color: #FFFFFF;
    line-height: 1.8;
    max-width: 569px;
    padding-top: 24px;
    text-align: justify; 
}

/* ABOUT ME */
.skills {
    list-style: none;
    width: 100%;
    margin-left: 4px;
    max-width: 594px;
    color: #FFFFFF;
    padding-top: 20px;
    
}

.container h1 {
    color: #FFFFFF;
    font-weight: 600;
    text-align:center;
}

.skill-name {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 8px;
}

.skill {
    margin: 18px 0;
    padding: 2px;
    padding-top: 20px;
}

.skill-bar {
    height: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

@keyframes fillBars {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.skill-per {
    height: 10px;
    background: #33ff33 ;
    border-radius: 10px;
    position: relative;
    animation: fillBars 3s 1;
}

 .skill-per::before {
    content: attr(per);
    border-radius: 100%;
    position: absolute;
    padding: 10px 10px;
    background: #ffffff;
    border: 2px solid #33ff33 ;
    top: -8px;
    right: 0;
    transform: translate(50%);
}
/* Imagem de fundo */

.circle1 {
    position: relative;
    width: 70%;
}

/* SERVICES */
.services {
    padding-top: 26px;
}

.card {
    margin-top: -6px;
    justify-content: center;
    border-radius: 16px;
    transition: transform 0.6s ease;
    background-color: #2D333B;
}

.card:hover {
    transition: transform 0.3s ease;
    transform: translateY(-2px); 
}

.card-img {
    margin-top: 60px;
    margin-left: 40px;
}

.container .card .card-text {
    color: #EEEEEE;
    text-align: justify;
    margin: 0px 6px;
    line-height: 1.6;
    font-weight: lighter;
}

.container .card-title {
    color: #EEEEEE;
    margin: 0px 6px;
    margin-top: 40px;
    font-weight: 600;
    font-size: 24px;
}


/* PROJECTS */
.filter-btn {
    border-radius: 24px;
    background-color: #2D333B;
    color: #EEEEEE;
    border: none;
    padding: 10px 32px;
    font-weight: 600;
    text-shadow: 0 4px 4px #16191d9b;
    margin-top: 26px;
}

.filter-btn:hover {
    background-color: #00b300;
}

.filter-btn.active {
    background-color: #33ff33 ;
    color: #FFFFFF;
}

.card-img-top {
    padding: 16px;
    border-radius: 24px;
    width: 100%;
    height: 200px;
}

.card-title-work {
    color: #EEEEEE;
}

.card-text-work {
    color: #EEEEEE;
    font-weight: lighter;
    text-align: justify;
}

.email-field {
    border-radius: 5px; 
    width: 416px;
    height: 38px;
    border: none;
    padding-left: 16px;
    margin-right: 20px;
}

.email-container, .final-info-logo, .navbar-nav-footer, .cr-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav-footer .nav-item {
    list-style: none;
    margin: 20px;
}

.cr-footer {
    position: absolute;
    padding-bottom: 18PX;
    right: 0;
    background-color: #2D333B;
    color: #2D333B;
}

.inc-text {
    margin-top: 20px;
}
.img-fluid{
    background-color: #000;
    border-radius: 5%;
}
.logo{
    margin-right:3px;
    border-radius: 10%;
}
.name-style {

    color: #EEEEEE; 
    font-weight: bold; 
    font-size: 1.2em; 
    font-family: Arial, sans-serif; 
}
p {
    color: #EEEEEE;
    line-height: 1.5;
    margin: 0; 
    padding: 0; 
    width: 100%;               
    box-sizing: border-box;
}
/* FOOTER */




/* Responsive mode */
@media (max-width: 1200px) {
    .container {
        margin-inline: 8%;
    }

    .container-main {
        margin-right: 14%;
        margin-top: -20px;
    }

    .navbar {
        width: 100%;
        padding-bottom: 20px;
    }

    .navbar-toggler {
        margin-left: auto;
        background-color: #2D333B;
        border:solid #33ff33 ;
        color: #66ff66;
    }  

    .navbar-toggler.active .bi-x {
        display: inline-block;
    }

    .navbar-toggler .bi-x {
        display: none; 
    }

    .navbar-toggler .bi-justify {
        display: inline-block;
    }

    .navbar-toggler.active .bi-justify {
        display: none;
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
      
    .navbar-nav .nav-item {
        margin: 8px;
    }
      
    .navbar-nav .nav-item .btn {
        margin-left: 0 !important;
    }

    .header-menu {
        padding-bottom: 2px;
    }

    .intro {
        text-align: left;
    }

    .job-title {
        font-size: 40px;
        text-align: left;
    }

    .circle {
        padding: 4px;
    }

    .image-container {
        justify-content: center !important;
        padding-top: 32px;
    }

    .social-media-buttons .btn-social {
        font-size: 2.0rem;
        margin: 0px 2px;
        margin-right: 6px;
    }

    .skills {
        margin-bottom: -62px !important;
        margin-top: -20px;
    }

    .job-title {
        font-size: 50px;
    }

    .intro .intro-title,
    .intro .intro-name {
        font-size: 28px;
    }

    .description {
        font-size: 18px;
        padding-top: 22px;
    }

    .btn {
        width: 100%;
        text-align: center;
    }

    .home .intro {
        order: 1; 
    }

    .aboutme .image-container {
        order: 2; 
    }

    .srvc-desc {
        text-align: justify !important;
    }

    .card {
        max-width: 100% !important;
        display: flex;
        margin-bottom: 24px;
    }

    .container .card-title {
        color: #FFFFFF;
        margin: 0px 6px;
        margin-top: 12px;
        font-weight: 600;
        font-size: 22px;
    }

    .card-img {
        width: 68px !important;
        margin-top: 48px;
        margin-left: 28px;
    }

    #special-card-img .card-img {
        width: 48px !important;
        margin-left: 36px;
    }

    #services {
        padding-top: 10px; 
    }

    #services:target {
        scroll-margin-top: 40px;
    }   

    .filter-btn-group {
        align-items: center !important;
        justify-content: center !important;
    }

    .container h1 {
        text-align: center;
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .email-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .email-field {
        width: 100%;
        margin-bottom: 20px;
        padding-left: 10px;
        margin-right: 0;
    }

    .navbar-nav-footer {
        list-style-type: none ;
        display: flex;
        font-size: 0;
    }

    .navbar-nav-footer .nav-item {
        margin-left: 0;
    }

}